.ScrollerIndexWrapper {
    width: 100%;
    ;
    transition: all 0.5s ease;
}

.ScrollerIndexWrapper:hover {
    transform: scale(1.02);
}

.ScrollerIndexContainer {
    display: grid;
    justify-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
    
    background-color: var(--primary);
    width: 100%;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.ScrollerIndex {
    width: 100%;
    ;
    display: flex;
    justify-items: center;
    align-items: center;
}

.ScrollerIndexInfo {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    align-items: center;
}

.ScrollerIndexIcon {
    height: 90px;
    width: 200px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.ScrollerIndexImage {
    height: 100%;
    object-fit: cover;
}

.ScrollerIndexName {
    font-size: 40px;
}

.ScrollerIndexPrice {
    font-size: 30px;
}

.ScrollerIndexFavorites {
    width: 90px;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.ScrollerIndexFavorites i {
    font-size: 40px;
    color: var(--fontTwo);
    cursor: pointer;
}

.ScrollerIndexLoader {
    justify-self: center;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ScrollerIndexLoaderOutside {
    position: absolute;
    border: solid tan 2px;
    width: 80px;
    height: 80px;
    border: 8px solid var(--primary);
    border-top: 8px solid var(--fontOne);
    border-bottom: 8px solid var(--fontOne);
    border-radius: 50%;
    animation: Spin 2s linear infinite;
}

.ScrollerIndexLoaderInside {
    width: 40px;
    height: 40px;
    position: absolute;
    border: 6px solid var(--primary);
    border-top: 6px solid var(--fontOne);
    border-bottom: 6px solid var(--fontOne);
    border-radius: 50%;
    animation: SpinCounterClockwise 1.25s linear infinite;
}

@media (max-width: 600px) {
    .ScrollerIndexWrapper:hover {
        transform: none;
    }
    .ScrollerIndexIcon {
        display: none;
    }
    .ScrollerIndexContainer {
        display: grid;
        justify-items: center;
        border-radius: 10px;
        cursor: pointer;
        background-color: var(--primary);
        width: 100%;
        height: 100px;
    }
    .ScrollerIndexInfo {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
        align-items: center;
    }
    .ScrollerIndexPrice {
        
        display: none;
    }
    .ScrollerIndexLoader{
        display: none;
    }
}
@media (max-width: 1000px) {
    .ScrollerIndexWrapper:hover {
        transform: none;
    }

    .ScrollerIndexContainer {
        display: grid;
        justify-items: center;
        border-radius: 10px;
        cursor: pointer;
        background-color: var(--primary);
        width: 100%;
        height: 100px;
    }
    .ScrollerIndexInfo {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        justify-items: start;
        align-items: center;
    }

}