.PortfolioWrapper {
    display: grid;
    justify-content: center;
}

.Portfolio {
    padding-top: 2em;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-content: center;
    justify-items: center;
    width: 100%;
    max-width: 1200px;
}

.PortfolioAssets {
    grid-column: 1/4;
    min-width: 900px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 1em;
    padding-bottom: 1em;
}

.PortfolioAssetWrapper {
    width: 100%;
    ;
    transition: all 0.5s ease;
}

.PortfolioAssetContainer {
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--primary);
    width: 100%;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.PortfolioAssetContainer i {
    font-size: 40px;
    color: var(--fontTwo);
    cursor: pointer;
}

.PortfolioAsset {
    width: 100%;
    ;
    display: flex;
    justify-items: center;
    align-items: center;
}

.PortfolioAssetInfo {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    align-items: center;
}

.PortfolioAssetIcon {
    height: 90px;
    width: 200px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.PortfolioAssetImage {
    height: 100%;
    object-fit: cover;
}

.PortfolioAssetName {
    font-size: 40px;
}

.PortfolioAssetPrice {
    font-size: 30px;
}

.PortfolioAssetLoader {
    justify-self: center;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PortfolioAssetLoaderOutside {
    position: absolute;
    border: solid tan 2px;
    width: 80px;
    height: 80px;
    border: 8px solid var(--primary);
    border-top: 8px solid var(--fontOne);
    border-bottom: 8px solid var(--fontOne);
    border-radius: 50%;
    animation: Spin 2s linear infinite;
}

.PortfolioAssetLoaderInside {
    width: 40px;
    height: 40px;
    position: absolute;
    border: 6px solid var(--primary);
    border-top: 6px solid var(--fontOne);
    border-bottom: 6px solid var(--fontOne);
    border-radius: 50%;
    animation: SpinCounterClockwise 1.25s linear infinite;
}

.PortfolioSum {
    padding-top: 1em;
}

.PortfolioAddNewCoinWrapper {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: var(--primary);
    min-width: 600px;
    display: flex;
    align-items: center;
}

.PortfolioAddNewCoinWrapper i {
    font-size: 40px;
    color: var(--fontTwo);
    cursor: pointer;
}

.PortfolioAddNewCoin {
    width: 100%;
    display: grid;
    justify-items: center;
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.PortfolioAddNewCoin p {
    color: var(--fontOne);
    font-size: 30px;
    ;
}

.PortfolioInput {
    position: relative;
    grid-column: 1/5;
    width: 100%;
    margin: 5%;
    height: 60%;
    border: none;
    background-color: var(--primary);
    font-size: 40px;
    color: var(--fontOne);
    border-bottom: solid var(--fontOne) 2px;
}

.PortfolioInputDropDown {
    position: absolute;
    background-color: var(--primary);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-height: 0px;
    max-height: 400px;
    margin-bottom: 100px;
    overflow: scroll;
    padding-left: 20px;
    padding-right: 20px;
}

.PortfolioInputDropDown::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.PortfolioInputDropDown {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.PortfolioInputNumber::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.PortfolioInput::placeholder, .PortfolioInputNumber::placeholder {
    /* color: var(--secondary); */
}

.PortfolioInput:focus, .PortfolioInputNumber:focus {
    outline: 0;
}

.PortfolioSearchIcon {
    border-top: solid var(--fontOne) 2px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--primary);
    font-size: 40px;
    padding: 5px 0px;
    width: 400px;
    cursor: pointer;
}

.PortfolioSearchIndexIcon {
    height: 70px;
    width: 120px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.PortfolioSearchIndexImage {
    height: 100%;
    object-fit: cover;
}

.PortfolioSelectedAsset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.PortfolioSelectedAssetIcon {
    height: 70px;
    width: 120px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.PortfolioInputNumber {
    width: 100px;
    margin: 5%;
    height: 60%;
    border: none;
    background-color: var(--primary);
    font-size: 40px;
    color: var(--fontOne);
    -webkit-appearance: none;
    -moz-appearance: textfield;
    border-bottom: solid var(--fontOne) 2px;
}

.PortfolioInputNumber::-webkit-inner-spin-button {
    font-weight: 300;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.PortfolioInput::placeholder, .PortfolioInputNumber::placeholder {
    color: grey;
}

.PortfolioInput:focus, .PortfolioInputNumber:focus {
    outline: 0;
}

.PortfolioInputNumberUpdate {
    display: flex;
    align-items: center;
}

.PortfolioInputNumberUpdate i {
    font-size: 40px;
    color: var(--fontTwo);
    cursor: pointer;
}

.PortfolioAssetEditButton {
    cursor: pointer;
    background-color: transparent;
    font-size: 30px;
    padding: 5% 15%;
    border-radius: 8px;
    ;
    border: var(--secondary);
    color: var(--secondary);
}
.PortfolioSum>h1:nth-child(2){
    font-size: 80px;
}



@media (max-width: 1000px) {

    .PortfolioAddNewCoinWrapper {
        width: 90%;
        min-width: 0px;
    }
    .PortfolioAssets {
        width: 90%;
        min-width: 0px;
    }
    .PortfolioAssetInfo {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        justify-items: start;
        align-items: center;
    }
    .PortfolioAssetInfo h1, .PortfolioAssetInfo h2 {
        transform: scale(.8);
    }
    .PortfolioSum>h1:nth-child(2){
        font-size: 65px;
    }
}
@media (max-width: 600px) {
    .PortfolioAssetIcon {
        display: none;
    }
    .PortfolioSum>h1:nth-child(2){
        font-size: 50px;
    }
    .PortfolioInput {
        font-size: 30px;
    }
}