.Main {
    padding-top: 2em;
    display: grid;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.Main>h1 {
    color: white;
    transform: scale(1.5);
    border-bottom: 2px solid white;
}

.TopCryptos {
    width: 100%;
    min-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1em;
    padding-top: 5em;
    padding-bottom: 5em;
}

.ScrollerCryptos {
    width: 100%;
    min-width: 1000px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 1em;
    padding-top: 5em;
    padding-bottom: 5em;
}

.Scroller .MovementSection {
    animation: moveSlideshow 12s linear infinite;
}

.ScrollerImages {
    height: 100%;
    object-fit: cover;
}

.loader {
    border: 16px solid var(--grey);
    /* Light grey */
    border-top: 16px solid var(--pink);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveSlideshow {
    100% {
        transform: translateX(-66.6666%);
    }
}